$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/scss/font-awesome";
@import "~sweetalert2/dist/sweetalert2.min.css";
.hidediv {
  display: none !important;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .navbar-brand {
    padding: 1px !important;
  }
  .navbar-default {
    .logo-1 {
      width: 150px !important;
    }
  }
}

/**
 * ====================================
 *  Helper classess
 * ====================================
 */
.m-t-30 {
  margin-top: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.required {
  color: red;
}

/**
 * ====================================
 *  Base css
 * ====================================
 */
body {
  font-family: 'Poppins', sans-serif;
  color: rgba(88, 88, 88, 0.8);
  font-size: 14px;
  font-style: none;
  line-height: 25px;
  font-weight: 300;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  background: #2D4917;
}

a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    color: #355dff;
  }

  &:focus {
    outline: 0 !important;
  }
}

p {
  font-family: 'Poppins', sans-serif;
  color: rgba(88, 88, 88, 0.8);
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #585858;
}

h1 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

h3 {
  font-size: 25px;
  line-height: 45px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

/**
 * ====================================
 *  Every Section Headline Defult Class
 * ====================================
 */

.section-heading {
  color: rgba(88, 88, 88, 0.95);
  display: inline-block;
  padding-bottom: 23px;
  margin: 0;
}

.section-header {
  margin-bottom: 70px;
  text-align: center;

  .sub-heading {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(88, 88, 88, 0.65);
    margin: 0;
  }

  &.text-left {
    text-align: left;

    * {
      text-align: left;
    }
  }

  &.text-right {
    text-align: right;

    * {
      text-align: right;
    }
  }
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/**
 * ===============================
 *   Matches Table Sesction
 * ===============================
 */
.matches {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  .matches-table {
    border-bottom: 3px solid;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    float: left;
    width: 100%;

    thead th {
      color: #ffffff;
      border: none;
      padding: 14px;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      background: #26581c;

      &:first-child {
        text-align: left;
      }
    }

    tbody tr {
      background-color: #333333;
      padding: 10px;

      &:nth-child(even) {
        background-color: #404040;
      }

      td:nth-child(3) {
        text-align: center;
      }

      &:nth-child(even) td {
        border: none;
      }

      &:hover {
        background: #666 !important;
      }

      td {
        color: #ffffff;
        border: none;
        border-right: 1px solid #484848;
        padding: 14px;
        vertical-align: middle;
        border: none;
        padding: 3px 15px;
        text-align: center;
        height: 80px !important;

        &:first-child {
          padding: 11px 0 9px 15px;
          text-align: left;
        }

        a {
          color: #fff;
          display: flex;
        }

        span {
          display: inline-block;
          text-align: center;
          font-size: 20px;
          font-weight: normal;
        }
      }
    }
  }
}

/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */


@media (max-width: 767px) {
  h1, h2 {
    font-size: 45px;
    line-height: 65px;
    font-weight: 300;
  }
  /**
   * ===============================
   *  Defult CSS
   * ===============================
   */
  html *, body, p {
    text-align: center;
  }
  /**
   * ===============================
   *   Defult Button Style
   * ===============================
   */
  .btn {
    &.btn-fill, &.btn-border {
      padding: 3px 15px;
      min-width: 120px;
    }
  }
  /**
   * ===============================
   *  Section Top and Bottom padding
   * ===============================
   */
  .section-separator {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /**
   * ===============================
   *  Section Heading Style
   * ===============================
   */
  .section-header {
    &.text-left, &.text-right, &.text-left *, &.text-right * {
      text-align: center;
    }
  }
  /**
   * ================================
   * Nav Defult Style
   * ================================
   */
  .nav {
    display: inline-block;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  /**
   * ===============================
   *   Defult Button Style
   * ===============================
   */
  .btn {
    margin: 10px !important;

    &:last-child {
      margin: 10px !important;
    }
  }
  /**
   * ===============================
   *   Display Vertical
   * ===============================
   */
  .vertical-middle {
    display: block;
  }
}

/****************************************************************
    START MAIN CSS STYLE
*****************************************************************/

.background-semi-dark {
    background-color: #fafafa;
    color:#000 !important;
}

.background-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
  background: #627d4d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #627d4d 0%, #1f3b08 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #627d4d 0%, #1f3b08 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #627d4d 0%, #1f3b08 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}


/**
 * ===============================
 * Header Style 1
 * ===============================
*/

.bg-image-1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26581c+0,ff513c+100;Yellow+3D+%232 */
  background: url(../../images/slider-kickoff.jpg);
  padding-bottom: 20px;
}

.header-section-1 {
  .logo-link {
    max-width: 50px;
    margin-bottom: 70px;
  }

  .section-separator {
    padding-top: 100px;
  }

  .title {
    color: #ffffff;
    text-shadow: 0px 2px 2px #000;
    font-weight: bold;
    font-size: 32px;
  }

  .detail {
    margin-top: 40px;

    p {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 2px 3px 3px #000;
    }
  }

  .btn-form {
    margin-top: 70px;
  }
}

/**
 * ====================================
 * Features Style 1
 * ====================================
 */

.features-section-1 {
  min-height: 600px;
  margin-top: 80px;

  .section-separator {
    margin-top: 50px;
  }

  .features-icon {
    font-size: 60px;
    display: block;
    margin-bottom: 55px;
  }

  .title {
    margin-top: 0px;
  }

  .detail {
    margin-top: 24px;
  }

  .each-features .inner {
    margin-bottom: 30px;
    padding: 70px 55px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
      box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
      -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
    }
  }
}

@media (min-width: 1199px) {
  .features-section-1 .each-features:nth-last-child(-n + 3) .inner {
    margin-bottom: 0px;
  }
}

@media (min-width: 767px) {
  .features-section-1 .each-features:nth-last-child(-n + 2) .inner {
    margin-bottom: 0px;
  }
}

/**
 * ====================================
 * Footer Section 1
 * ====================================
 */

.footer-section {
  .section-separator {
    padding: 70px 0;

    .title {
      color: #fff;
    }

    .nav > li > a {
      color: rgba(255, 255, 255, 0.6) !important;
      font-weight: bold;

      &:hover, &:focus {
        background-color: transparent;
        color: #fff !important;
        font-weight: bold;
      }
    }
  }

  .copyright p {
    padding-top: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
  }
}

/**
 * ====================================
 * Count Down
 * ====================================
 */

.count-down {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;

  .each-item {
    text-align: center;
    margin-bottom: 15px;

    .inner {
      text-align: center;
      padding: 15px;
      border-radius: 17px;
      display: inline-block;
      width: 200px;
      height: 200px;
      position: relative;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;

      .group {
        position: relative;
        top: 50%;
        transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
      }

      .fa, .number {
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-shadow: 2px 3px 3px #000;
      }

      .fa, .title, .number {
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
      }

      .title {
        font-size: 14px;
      }
    }
  }
}

/*==================================================
 * Effect 7
 * ===============================================*/

.effect7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }
}

.cup {
  h2 {
    font-size: 30px;
    font-weight: bold;
  }

  ul li {
    font-size: 20px;
    line-height: 40px;
  }
}


.alert {
  text-align: center !important;
  font-size: 16px !important;
  padding: 15px !important;
  margin-bottom: 0px !important;
  border: none !important;
  border-radius: none !important;
  display: block;
  margin-top: 80px !important;
}

/**
 * =======================
 * Navigation
 * =======================
 */
.navbar-default {
  background-color: #26581c !important;
  border: none !important;
  -webkit-box-shadow: 0px 5px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 28px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 28px -1px rgba(0, 0, 0, 0.75);

  .navbar-nav > .open > a {
    background-color: sienna !important;
    color: #555;

    &:hover, &:focus {
      background-color: sienna !important;
      color: #555;
    }
  }
  .navbar-nav > li > .dropdown-menu {
    position: inherit;
      width: 100%;
  }
  .logo-1 {
    width: 250px;
  }

  .navbar-nav li {
    a {
      color: #fff !important;
      font-size: 18px;
      font-weight: bold;

      i {
        color: #fff !important;
      }

      &:hover {
        color: #fff;
      }
    }

    ul li a {
      color: #000 !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
    padding: 16px !important;
  }
}

/**
 * =======================
 * Checkboxes
 * =======================
 */
.checkbox-animated {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  input[type=checkbox] {
    display: none;

    &:disabled ~ label {
      .box {
        border-color: #777;
        background-color: #E6E6E6;
      }

      .check {
        border-color: #777;
      }
    }

    &:checked ~ label {
      .box {
        opacity: 0;
        -webkit-transform: scale(0) rotate(-180deg);
        -moz-transform: scale(0) rotate(-180deg);
        transform: scale(0) rotate(-180deg);
      }

      .check {
        opacity: 1;
        -webkit-transform: scale(1) rotate(45deg);
        -moz-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 28px;
    font-weight: normal;
    margin-bottom: 0;

    span {
      display: block;
      position: absolute;
      left: 0;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

    .box {
      border: 2px solid #000;
      height: 20px;
      width: 20px;
      z-index: 888;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    .check {
      top: -7px;
      left: 6px;
      width: 12px;
      height: 24px;
      border: 2px solid #BADA55;
      border-top: none;
      border-left: none;
      opacity: 0;
      z-index: 888;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
  }
}

.matches-v2 {
  background: #ffffff;
  padding-top: 20px;

  .no-match {
    padding: 10px;
    color: #000;
    font-size: 16px;
    text-align: center;
  }

  .kode-section-title {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }

  .kode-fixer-list {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    display: table;
    width: 100%;
    margin-bottom: 20px;

    ul {
      display: table-row;

      li {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .table-head li {
      padding: 15px 10px;
      text-align: center;
      width: 20%;

      h5 {
        color: #ffffff;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .table-body li {
      .timer-quick {
        justify-content: center;
        display: flex;
        font-size: 20px;
      }

      .started {
        color: #DB4437 !important;
        justify-content: center;
        display: flex;
        font-size: 20px;
      }
    }
  }

  .table-head li {
    &:first-child {
      width: 32%;
    }

    h5 {
      color: #ffffff;
      margin: 0;
      text-transform: uppercase;
      border: none;
      text-align: center;
      font-size: 16px;
    }
  }

  .fixer-pagination a {
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    float: right;
    height: 26px;
    margin-right: 10px;
    padding: 4px 0 0;
    width: 26px;

    &:hover {
      background-color: #ffffff;
    }
  }

  .table-body {
    &:nth-child(2n) li {
      background-color: #333333;
      border-left: 1px solid #404040;
    }

    li {
      background-color: #404040;
      color: #ffffff;
      padding: 25px 0;
      text-align: center;
    }
  }

  .list-thumb {
    color: #ffffff;
    display: inline-block;

    img {
      margin-right: 8px;
    }
  }

  .table-body li {
    span {
      display: inline-block;
      font-size: 20px;
      width: 22%;
    }

    small {
      text-transform: uppercase;
    }
  }

  .fixer-btn a {
    color: #ffffff;
    float: right;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 14px;
    width: 85%;
  }

  .table-body li.fixer-btn {
    width: 26%;
  }

  .fixer-btn a:hover {
    color: #444;
  }

  .icon-list li {
    border-bottom: 1px solid #ececec;
    color: #666666;
    list-style: outside none none;
    padding: 3px 0;

    i {
      margin-right: 10px;
    }
  }

  .thbg-color {
    background-color: #195D10;
  }
}

// CSS
.jst-hours {
  float: left;
}

.jst-minutes {
  float: left;
}

.jst-seconds {
  float: left;
}

.jst-clearDiv {
  clear: both;
}

.jst-timeout {
  color: red;
}

/* match banner */
.match-detail-league-title {
  text-align: center;
  background: rgba(0, 0, 0, .3);
  padding: 15px 25px;
  margin: 0 0 40px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

.matech-team .title h4 {
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
}

.matech-team .icon-left {
  margin-right: 30px;
}

.matech-team .icon-left img,
.matech-team .icon-right img {
  width: 60px;
}

.matech-team .icon-right {
  margin-left: 30px;
}

.match-banner .score {
  text-align: center;
  font-size: 76px;
  color: #fff;
  font-weight: 700;
  line-height: 90px;
  position: relative;
}

.match-banner .score.league {
  line-height: 40px;
  margin-top: 30px;
}

/* match banner */
.match-detail-league-title {
  text-align: center;
  background: rgba(0, 0, 0, .3);
  padding: 15px 25px;
  margin: 0 0 40px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

.matech-team .title h4 {
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
}

.matech-team .icon-left {
  margin-right: 30px;
}

.matech-team .icon-left img,
.matech-team .icon-right img {
  width: 60px;
}

.matech-team .icon-right {
  margin-left: 30px;
}

.match-banner .score {
  text-align: center;
  font-size: 76px;
  color: #fff;
  font-weight: 700;
  line-height: 90px;
  position: relative;
}

.match-banner .score.league {
  line-height: 40px;
  margin-top: 30px;
}

.score.league span.time {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}

.matech-team .icon-left, .matech-team .icon-right, .matech-team .title {
  display: inline-block;
}

/**/
.match-detail-league-title {
  color: #fff;

  a {
    color: #FCD840;
  }
}

.match-details-section {
  .match-details-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 50px;
    margin: 10px 0px;
    text-align: center;
    width: 100%;
    background: #FCD840;
  }

  ul {
    padding: 10px;
    width: 100%;
    list-style-type: disc;

    li {
      color: white;
      padding: 10px;
      width: 100%;
    }

    li:nth-child(odd) {
      background: #777;
    }

    li:nth-child(even) {
      background: #888;
    }
  }

  p {
    color: #000;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
  }
}

.sub-title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.match-details-section {
  min-height: 600px;
    background:#fff;
    color:#000;
}

.preloader {
    background: #26581c;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.preloader .loader {
    margin: -30px 0 0 -30px;
    padding: 20px;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: url(../../images/logo-loader.png) 50% 50% no-repeat #eea236;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  color: #000;

  .card-header {

    font-weight: bold;

    a {
      color: #000;
    }
  }

  .card-clock {
    background: white;
    padding: 20px;
  }
}

.match-banner {
  background-image: url('../../images/match_details.jpg');
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0 50px;
  height: 500px;
}

@media (max-width: 767.98px) {
  .match-details-section {
    background: #fff;
      color:#000 !important;
  }
  .nav {
    display: block;
  }
  .navbar-brand {
    padding: 1px;

    img {
      width: 100px;
    }
  }
  .header-section-1 .section-separator {
    padding-top: 40px;
  }
  .section-separator {
    display: block;
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .btn {
    margin: 0px;
  }
  .section-header {
    margin-bottom: 0px;
  }
  .features-section-1 {
    margin-top: 5px;
  }
  .features-section-1 .section-separator {
    margin-top: 30px;
  }
  .navbar-default .logo-1 {
    width: 250px;
  }
  .header-section-1 {
    .title {
      font-size: 16px;
    }

    .detail {
      margin-top: 40px;

      p {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        text-shadow: 2px 3px 3px #000;
      }
    }
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white !important;
  }
  .navbar-nav .open .dropdown-menu {
    text-align: center;
  }
  html *, body, p {
    text-align: unset;
  }
  .matches-v2 {
    background: transparent;
    color: white;
    padding-top: 0px;
    text-align: center;

    .kode-fixer-list ul li {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0px;
    }

    .table-body li.fixer-btn {
      padding: 0px;
      width: 100%;

      a {
        width: 80%;
        float: unset;
      }
    }
  }
  .match-banner {
    padding: 50px 0 50px;
    height: 340px;

    .score {
      font-size: 16px;
    }
  }
  .matech-team .icon-left img, .matech-team .icon-right img {
    width: 40px;

  }
  .matech-team-left, .score, .matech-team-right {
    margin: 0px;
    padding: 0px;
    height: 50px;
  }
  .matech-team .icon-left, .matech-team .icon-right {
    margin: 20px !important;
  }
  .team-2 {
    flex-direction: row-reverse;
  }
  .matech-team .title h4 {
    font-size: 16px;
  }
  .matech-team .icon-right {

  }
  .matech-team {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .match-detail-league-title {
    padding: 0px;
    margin: 0px;
  }
}
.swal2-container {
  zoom: 1.5;
}
